@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u33ypj');
  src:  url('fonts/icomoon.eot?u33ypj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u33ypj') format('truetype'),
    url('../fonts/icomoon.woff?u33ypj') format('woff'),
    url('../fonts/icomoon.svg?u33ypj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-mail3:before {
  content: "\ea85";
}

body
{
 font-family: 'Allerta', sans-serif;   
 margin: 0;
}
.titulo
{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
    margin-top: 10%;
}

.title-a {
    font-size: 24px;
    margin: 2% 0px 5% 0;
}

.title-b {
    font-size: 50px;
    margin-left: 37px;
    margin-block-end: 10%;
    margin-block-start: 9%;
}


.guitarras
{
    color: #1f313c;
    border-radius: 8px;
}
.guitarras h2
{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 10px;
}

.guitarras article
{
    border: 1px #1f313c solid; 
    /*overflow: hidden;*/
    margin: 7% 2%;
    padding: 10px;
}
.icon-menu
    {
        display: none;
    }

.portada
{
    background-image: url('../images/background.png');
    background-size: cover;
    color: white;
    padding: 20px;
    height: auto;
    padding-bottom: 14%
}

.subheader
{
    background-image: url('../images/background.png');
    background-size: cover;
    color: white;
    padding: 20px;
    height: 150px;
}

.boton {
    margin-bottom: 70px;
    border-radius: 12px;
    /*background: #fe364e;*/
    background-image: linear-gradient(to left, #ff394e , #ff6c50);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.menu {
    font-size: 24px;
    display: inline-block;
    position: relative;
    float: right;
}

.logotipo
{
    display: inline-block;
    margin: 0;
}

.menu li
{
    margin-left: 20px;
    display: inline-block;
}

.menu a
{
    text-decoration: none;
    color: white;
}

.contenedor
{
    max-width: 800px;
    margin: auto;
}

.guitarra-a {
    float: right;
    position: relative;
    top: -70px;
}

.guitarra-b {
    float: left;
    /*position: relative;*/
    top: 100px;
}

.footer
{
    background: #273b47;
    padding: 49px 0 0px 0px;
}

.footer img {
    display: block;
    margin-bottom: 14px;
}

.footer a
{
    color: white;
    text-decoration: none;
}

.footer strong {

    display: inline-block;
}

.footer span {
    display: block;
    margin: 0 7px;
}

.footer .contenedor
{
    display: flex;
    justify-content: space-between;
}
.contacto
{
    display: flex;
    width: 340px;
    flex-wrap: wrap;
    align-items: center;
}

.formulario
{
    display: flex;
    width: 400px;
    color: white;
}

.col1 , .col2
{
    display: flex;
    flex-direction: column;
    margin: 0px 13px 0px 0px;
}

.intereses , .sexo
{
    font-size: 15px;
    margin-top: 15px;
    
}

.col1 label
{
    margin-bottom: 5px;
    margin-top: 5px;
}

.col2
{
    align-items: flex-start;
}

.col2 textarea
{
    margin: 10px 0;
}

.tabla
{
    width: 100%;
    margin: 40px 0;
}
th
{
    background:#273b47;
    color: white;
    text-align: left;
    padding: 10px
}
table
{
    border: 1px solid #273b47;
    border-collapse: collapse;
}
td
{
    padding: 20px;
}
.titulo span
{
    text-decoration: underline;
}
.guitarra-2 {
    position: relative;
    top: -71px;
}

.datos {
    display: flex;
    margin-bottom: 50px;
}

input , textarea
{
    outline: 0;
}
textarea:focus , input:focus
{
    background: lightgray;
}

img.guitarra-b
{
    width: 59%;
}

img.guitarra-a {
    width: 54.5%;
}

.col1 label {
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
}



@media screen and (max-width: 800px)
{
 .icon-menu
    {
        display: none;
    }

.titulo {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
    margin-top: 10%;
}

.portada {
    padding-bottom: 7%;
}

.guitarra-a {
    float: none;
    position: static;
}

.guitarras h2 {
    text-align: center;
}

.guitarras {
    color: #1f313c;
    border-radius: 8px;
    text-align: center;
}
ol
{
    list-style: none;
}

.title-b {
    font-size: 40px;
    margin-block-end: 5%;
    margin-left: 0;
    margin-block-start: 5%;
}

.guitarra-b {
    float: none;
    position: relative;
    top: 0;
}

.footer {
    background: #273b47;
    padding: 7% 2% 0px 4%;
}
img.guitarra-a
{
    width: 43%;
}

img.guitarra-b
{
    width: 62%;
}
}

@media screen and (max-width: 650px)
{
    .footer .contenedor {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.icon-menu
    {
        display: none;
    }
}

@media screen and (max-width: 550px)
{
    .icon-menu
    {
        display: none;
    }
    .footer {
    background: #273b47;
    padding: 7% 12% 0px 12%;
}

   .menu {
    float: none;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}
.menu li {
    display: block;
    text-align: center;
    margin-left: 0;
    border-bottom: solid 1px;
    font-size: 28px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 1.5% 0;
}

.menu li:first-child
{
    border-top: solid 1px;
}

.logotipo {
    display: block;
    margin: 0;
    text-align: center;
}

.titulo {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
    margin-top: 10%;
    text-align: center;
}

.menu li {
    display: block;
    text-align: center;
    margin-left: 0;
}

ul
{

    padding-inline-start: 0;
}

.title-a {
    font-size: 21px;
    text-align: center;
}

.guitarra-2 {
    position: relative;
    top: -26px;
}

.boton {
    margin-bottom: 0%;
    padding: 3% 0%;
    display: block;
    width: 100%;
    text-align: center;
}

.formulario {
    display: block;
    width: 100%;
    color: white;
}

.footer .contenedor {
    display: block;
}

.datos {
    display: block;
    margin-bottom: 6%;
}

.contacto {
    display: block;
    width: 100%;
    text-align: center;
}

.footer img {
    display: block;
    margin: auto;
    padding-bottom: 4%;
}

.col2 textarea {
    margin: 12px 0;
    width: 100%;
}
}

@media screen and (max-width: 500px)
{
    .contenedor {
    position: relative;
}
.icon-menu {
    height: 60px;
    display: inline-block;
    width: 60px;
    line-height: 60px;
    border-radius: 60%;
    background: #334f60;
    text-align: center;
    position: fixed;
    top: 5%;
    left: 5%;
    font-size: 29px;
    z-index: 3;
}


.menu.active{
    background-color: rgba(255, 74, 79,.8);
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.menu
{
   background-color: rgba(255, 74, 79,.8);
    position: fixed;
    z-index: 2;
    right: 0;
    left: -100%;
    top: 0;
    bottom: 0;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    transition: .5s;
}

ul {
    flex: 1;
}

.portada {
    padding: 9%;
}

.col1 label {
    zoom: 1.2;
}

.datos {
    zoom: 1.2;
}

.sexo {
    zoom: 1.2;
}

.footer {
    background: #273b47;
    padding: 17% 12% 7% 12%;
}
    }