@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u33ypj');
  src:  url('../fonts/icomoon.eot?u33ypj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u33ypj') format('truetype'),
    url('../fonts/icomoon.woff?u33ypj') format('woff'),
    url('../fonts/icomoon.svg?u33ypj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-mail3:before {
  content: "\ea85";
}


body
{
 font-family: 'Allerta', sans-serif;   
 margin: 0;
}
.titulo
{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1px;
    margin-top: 106px;
}

.title-a
{
    font-size: 24px;
    margin: -3px 0px 27px 0;
}

.title-b
{
    font-size: 50px;    
    margin-left: 37px;
    margin-top: -4px;
    
}


.guitarras
{
    color: #1f313c;
    border-radius: 8px;
}
.guitarras h2
{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 10px;
}

.guitarras article
{
    border: 1px #1f313c solid; 
    margin: 0 0 33px 10px;
    padding: 10px;
}

.portada
{
    background-image: url('../images/background.png');
    background-size: cover;
    color: white;
    padding: 20px;
    height: 500px;
}

.subheader
{
    background-image: url('../images/background.png');
    background-size: cover;
    color: white;
    padding: 20px;
    height: 150px;
}

.boton {
    margin-bottom: 70px;
    border-radius: 12px;
    /*background: #fe364e;*/
    background-image: linear-gradient(to left, #ff394e , #ff6c50);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.menu {
    font-size: 24px;
    display: inline-block;
    /* position: absolute; */
    /* right: 342px; */
    float: right;
}

.logotipo
{
    display: inline-block;
    margin: 0;
}

.menu li
{
    margin-left: 20px;
    display: inline-block;
}

.menu a
{
    text-decoration: none;
    color: white;
}

.contenedor
{
    max-width: 800px;
    margin: auto;
}

.guitarra-a {
    float: right;
    position: relative;
    top: -93px;
}

.guitarra-b {
    float: left;
    /*position: relative;*/
    top: 100px;
}

.footer
{
    background: #273b47;
    padding: 49px 0 0px 0px;
}

.footer img {
    display: block;
    margin-bottom: 14px;
}

.footer a
{
    color: white;
    text-decoration: none;
}

.footer strong {

    display: inline-block;
}

.footer span {
    display: block;
    margin: 0 7px;
}

.footer .contenedor
{
    display: flex;
    justify-content: space-between;
}
.contacto
{
    display: flex;
    width: 340px;
    flex-wrap: wrap;
    align-items: center;
}

.formulario
{
    display: flex;
    width: 400px;
    color: white;
}

.col1 , .col2
{
    display: flex;
    flex-direction: column;
    margin: 0px 13px 0px 0px;
}

.intereses , .sexo
{
    font-size: 13px;
    margin-top: 15px;
    
}

.col1 label
{
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
}

.col2
{
    align-items: flex-start;
}

.col2 textarea
{
    margin: 10px 0;
}

.tabla
{
    width: 100%;
    margin: 40px 0;
}
th
{
    background:#273b47;
    color: white;
    text-align: left;
    padding: 10px
}
table
{
    border: 1px solid #273b47;
    border-collapse: collapse;
}
td
{
    padding: 20px;
}
.titulo span
{
    text-decoration: underline;
}
.guitarra-2 {
    position: relative;
    top: -71px;
}

.datos {
    display: flex;
    margin-bottom: 50px;
}

input , textarea
{
    outline: 0;
}
textarea:focus , input:focus
{
    background: lightgray;
}

@media screen and (max-width: 800px)
{
    .portada
    {
        height: auto;
    }

    .portada a
    {
        display: inline-block;
        margin-bottom: 10px;
    }

    .titulo
    {
        font-size: 30px;
        margin-top: 50px;
    }
    .title-a
    {
        font-size: 20px;
    }

    .guitarras
    {
        text-align: center;
        margin: 0 10 33px 10px;
    }
    .guitarra-a,.guitarra-b
    {
        float: none;
        position: static;
    }
    .guitarras ol
    {
        list-style: none;
    }

    .contacto
    {
        margin-left: 20px;
    }
    .title-b {
    margin-top: 30px;
    margin-bottom: 16px;
    height: auto;
    }
    .guitarra-2 {
    position: static; 
    }

    .tabla 
    {
    width: 100%;
    margin: 40px 0;
    width: 61%;
    text-align: center;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    }
}

@media screen and (max-width: 750px)
{
    .footer .contenedor 
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .formulario {
    display: flex;
    flex-direction: column;
    width: 300px;
    }

    .sexo
    {
        zoom: 1.1;
    }

    .col1
    {
        margin: 20px 0 0 0;
    }

    #comentarios
    {
        width: 314px
    }

    .col2
    {
        margin: 0px;
    }

    .intereses label
    {
        display: block;
        zoom:1.1;
    }


}
@media screen and (max-width: 600px)
{
   .menu
   {
    float: none;
   }
   .portada ul 
   {
    padding: 0;
   }
   .logotipo
   {
    display: block;
   }
   header
   {
    text-align: center;
   }
   .portada .contenedor
   {
    text-align: center;
   }
   .titulo {
    font-size: 27px;
    margin-top: 26px;
    }
    .portada ul {
    padding: 0;
    margin: 0;
    margin-top: 14px;
    }

    .portada .contenedor
    {
        text-align: center;
    }

}

@media screen and (max-width: 500px)
{   
    .menu
    {
        display: flex;
        align-items: center;
    }


    .menu li 
    {
        margin:0;
        display: block;
        border-bottom: 1px solid white;
        padding: 8px 0;
    }
    
    .menu li:first-child
    {
        border-top: 1px solid white;

    }

    .menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 52, 78, 0.7);
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    transition: .3s;
    }

    .titulo {
    font-size: 27px;
    margin-top: 41px;
    margin-bottom: 15px;
    }

    .title-a {
    font-size: 17px;
    }

    .subheader
    {
        height: auto;
    }

    .icon-menu 
    {
    content: "\e9bd";
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #375566;
    border-radius: 50%;
    font-size: 20px;
    padding: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 2;
    }

    .portada ul {
    padding: 0;
    margin: 0;
    margin-top: 14px;
    flex: 1;
    }

    .guitarra-b
    {
        width: 312px;
    }

    .active{
    position: absolute;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    background: rgba(255, 52, 78, 0.7);
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    }

}
